*/15 * * * * php /var/www/html/supportBox/supportBox/SBInfo/server/amIOnline.php
30 23 * * * bash /var/www/html/supportBox/supportBox/SBInfo/server/backupToUSB.sh
00 1 * * * sudo smartctl -t long /dev/sda